.button{
  text-align:center;
  background:#F63E7C;
  font-family:sans-serif;
  color:white;
  display:inline-block;
  cursor:pointer;
}
.button.large{
  font-size:20px;
  padding:15px;
  border-radius:30px;
}
.button.medium{
  font-size:14px;
  padding:10px;
  border-radius:20px;
}
.button.small{
  font-size:11px;
  padding:5px;
  border-radius:15px;
}